<div class="w3-container parallax">

  <h1 style="font-size: 4vmax" class="w3-margin w3-padding-large">Our Company</h1>

  <div class="w3-row">

    <div class="w3-col l3 m3 s1">
    <br>
    </div>

    <div class="w3-col l6 m6 s10 w3-card-4 company-card w3-round-xxlarge">
      <div class="w3-display-container w3-text-white center-div" style="max-height: 17vw">
        <img src="../../../assets/images/aboutus/logo.png" alt="Logo" class="center-div w3-image w3-responsive">
      </div>
      <div style=" font-size: calc(10px + 0.5vw);line-height: calc(1.1em + 0.5vw);" class="w3-row w3-text-white w3-center w3-margin w3-padding-16">
        <div class="w3-center w3-padding-16">
          Digimons or Digital Monsters is a limited liability company created in 2018 by 5 engineer students from Mohammedia.
          The initial capital is 50.000 DHS (Moroccan Dirhams) and it is located in Casablanca Morocco.
        </div>
      </div>
    </div>

    <div class="w3-col l3 m3 s1">
      <br>
    </div>

  </div>

</div>

<div class="parallax2">

  <h1 style="font-size: 5vmax" class="w3-margin w3-padding-large w3-text-light-gray">Our Team</h1>

  <div class="w3-container">
    <div class="w3-row-padding">

      <div class="w3-col l1 m1 s2"><br></div>

      <div class="w3-col l2 m2 s12">
        <div class="our-team">
          <img src="../../../assets/images/aboutus/ceo.png" alt="team member" class="img-responsive">
          <div class="team-content">
            <h3 class="name">ELKOURIA Hicham</h3>
            <span class="post">CEO</span>
          </div>
        </div>
      </div>

      <div class="w3-col l2 m2 s12">
        <div class="our-team">
          <img src="../../../assets/images/aboutus/cto.png" alt="team member" class="img-responsive">
          <div class="team-content">
            <h3 class="name">BAAZIZ Rachid</h3>
            <span class="post">CTO</span>
          </div>
        </div>
      </div>

      <div class="w3-col l2 m2 s12">
        <div class="our-team">
          <img src="../../../assets/images/aboutus/cfo.png" alt="team member" class="img-responsive">
          <div class="team-content">
            <h3 class="name">LEMRANI Doha</h3>
            <span class="post">CFO</span>
          </div>
        </div>
      </div>

      <div class="w3-col l2 m2 s12">
        <div class="our-team">
          <img src="../../../assets/images/aboutus/cmo.png" alt="team member" class="img-responsive">
          <div class="team-content">
            <h3 class="name">LAGHEZALI Reda</h3>
            <span class="post">CMO</span>
          </div>
        </div>
      </div>

      <div class="w3-col l2 m2 s12">
        <div class="our-team">
          <img src="../../../assets/images/aboutus/cio.png" alt="team member" class="img-responsive">
          <div class="team-content">
            <h3 class="name">KOTBI Abdelali</h3>
            <span class="post">CIO</span>
          </div>
        </div>
      </div>


    </div>
  </div>

</div>

