.bgfg {
  background-color: #eee;
  color: #222;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.title {
  font-size: 4vw;
}

.navigation-icon {
  max-width: 7vw;
  max-height: 7vw;
}

.product-description {
  font-size: 3vw;
}

.try-it {
  font-size: 2.5vw;
  height: 9vw;
}
