<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Geo Currency Statistics</mat-card-title>
        <mat-card-subtitle>3D World Globe</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/products/globe.PNG" alt="3D Globe Image">
      <mat-card-actions>
        <button routerLink="geoCurrencyGlobe" color="primary" mat-raised-button>Discover our globe's Money</button>
        <button color="accent" mat-raised-button>About</button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
